<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="/js/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      defer
    ></script>
    <script type="module" src="/js/chart.js"></script>
    <title>Sarti Time</title>
  </head>
  <body>
    <div class="container">
      <h1>SARTI Time</h1>
      <div>
        Utolsó mintavétel: <%= datas[0].date.toLocaleDateString() %>, <%=
        datas[0].date.getHours() %>:<%= datas[0].date.getMinutes() %>, Várható
        utazási idő: <span id="milis"><%= datas[0].time %></span>
      </div>
      <div>Adatok száma: <%= datas.length %></div>
      <div>
        <canvas id="chart"
          >Sajnos a böngésződ nem támogatja a diagram megjelenítését.</canvas
        >
      </div>
    </div>
  </body>
</html>
